html {
	font-family: sans-serif;
}

.load-demo-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 10px;
}

.load-demo-progress {
	background-color: pink;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}

.load-demo-progress.complete {
	background-color: lightgreen;
}

.load-demo-text {
	font-family: monospace;
	position: relative;
	z-index: 2;
}