<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
		<link type="text/css" rel="stylesheet" href="css/main.css" />

		<script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
		<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
		<script src="js/main.js" defer></script>
	</head>

	<body>
		<div id="main">
			<b-navbar toggleable="lg" type="dark" variant="dark">
				<b-navbar-brand href="https://github.com/bryonf/internet-speed-simulator">GitHub/bryonf</b-navbar-brand>
			</b-navbar>

			<b-container class="mt-5">
				<b-container id="settings" fluid>
					<b-row>
						<b-col md="3">
							<b-form v-on:submit.prevent="toggleRun()">
								<b-form-group id="input-group-1" label="Image size (in MBs):" label-for="input-1">
									<b-form-input id="input-1" type="number" v-model="img_size" :disabled="download_interval !== null" :required="true"></b-form-input>
								</b-form-group>

								<b-form-group id="input-group-2" label="Update intervals (per second):" label-for="input-2">
									<b-form-input id="input-2" type="number" v-model="intervals_per_second" :disabled="download_interval !== null" :required="true"></b-form-input>
								</b-form-group>

								<div class="mt-4">
									<b-button v-if="download_interval === null" type="submit" variant="primary">Start</b-button>
									<b-button v-else type="submit">Stop</b-button>
								</div>
							</b-form>
						</b-col>
					</b-row>
				</b-container>

				<b-container class="mt-5" fluid>
					<b-card-group columns>
						<b-card v-for="demo in demos" class="mb-1" sm="6" md="4" lg="2">
							<div class="load-demo-container">
								<div class="load-demo-text">
									<div>Rate: {{demo.speed}} Mbps</div>
									<div>Time: {{getSecondsElapsed(demo)}}s</div>
								</div>
								<div :class="{'load-demo-progress': true, 'complete': getProgress(demo) == 1}" :style="{'height': getProgressHeight(demo) + '%', 'width': '100%'}"></div>
							</div>
						</b-card>
					</b-card-group>
				</b-container>
			</b-container>
		</div>
	</body>
</html>